:root {
	--accent-color: #2196f3;
	--base-color: #212121;
	--contact-color: #757575;
	--light-text: #ffffff;
}

/*body {
	font-family: Roboto;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--base-color);
}*/

h1 {
	font-family: Roboto;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	background-color: rgba(47, 48, 58, 0.8);
	color: var(--light-text);
}

header {
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--base-color);
}

h2 {
	font-family: Roboto;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--base-color);
}

h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

a {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--base-color);
}

li {
	list-style: none;
	text-decoration: none;
}

p {
	font-family: Roboto;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--contact-color);
}

footer {
	background: #2f303a;
}

.logo {
	text-decoration: none;
}

.logo-web {
	color: var(--accent-color);
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.logo-studio-header {
	color: var(--base-color);
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.logo-studio-footer {
	color: var(--light-text);
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.menu-link {
	color: var(--base-color);
	text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
	color: #2196f3;
}

.menu-link-current {
	color: var(--accent-color);
	text-decoration: none;
}

.menu-contacts {
	color: var(--contact-color);
	text-decoration: none;
	font-style: normal;
}

.menu-contacts:hover,
.menu-contacts:focus {
	color: #2196f3;
}

.btn {
	background: #2196f3;
	border-radius: 4px;
	font-family: Roboto;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--light-text);
}

.list-item {
	font-family: Roboto;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	background: rgba(47, 48, 58, 0.8);
	color: var(--base-color);
}

.team-title {
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--base-color);
	text-transform: capitalize;
}

.team-item {
	font-family: Roboto;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: #757575;
}

.social-link {
	text-decoration: none;
	color: #afb1b8;
}

.address {
	font-family: Roboto;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--light-text);
	background: #2f303a;
}

.join {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--light-text);
}

/*portfolio*/

.filter-button {
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--base-color);
	background-color: #f5f4fa;
	border-radius: 4px;
	text-decoration: none;
}
.filter-button:hover,
.filter-button:focus {
	background: var(--accent-color);
	color: var(--light-text);
}
.card {
	font-family: Roboto;
	font-weight: bold;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--base-color);
}
.content {
	font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.55;
	letter-spacing: 0.03em;
	color: var(--light-text);
	background: rgba(33, 150, 243, 0.9);
}

.content:hover,
.content:focus {
	background: rgba(33, 150, 243, 0.9);
	color: var(--light-text);
}

.filter-content {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--contact-color);
}
