:root {
	--accent-color: #2196F3;
	--base-color: #212121;
	--contact-color: rgba(255, 255, 255, 0.6);
	--light-text: #FFFFFF;
}


/*header*/

.logo {
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 31px;
}

.logo span {
	color: var(--accent-color);
}
.logo {
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 31px;
	color: black;	

	h1 {
	font-size: 44px;
	color: var(--light-text);
	background: rgba(47, 48, 58, 0.8);
	}
}
.link-button .link {
	color: black;
	font-family: Roboto;
	background-color: rgba(0, 0, 0, 0.12);
}
.link-button .link:hover {
	color: white;
	font-family: Roboto;
	background-color: rgba(33, 150, 243, 0.9);